.faq-section{
    background-color: #132016;
    padding: 80px;
}

.faq-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1440px !important;
}

.faq-left-section{
    width: 40%;
    color: #ffffff;
}

.faq-subheading{
        background-color: rgba(255, 255, 255, 0.1);
        padding: 7px 15px;
        border-radius: 50px;
        max-width: 50px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid rgba(255, 255, 255, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
}

.faq-heading{
    font-size: 40px;
    font-weight: 500;
}

.faq-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
}

.faq-right-section{
    width: 60%;
}

.faq-boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-box{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    border-radius: 10px;
}

.box-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.faq-box-number{
    font-size: 20px;
    color: #999999;
}

.faq-box-heading{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.faq-answer {
    display: block;
    padding: 0 20px 20px 20px;
    transition: max-height 0.3s ease-out;
}

.faq-answer p{
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
}

.faq-box.open .faq-answer {
    max-height: 1000px; 
}

.faq-icon{
    cursor: pointer;
    color: #ffffff;
}

.faq-icon.open {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

@media  screen and (max-width: 1300px) {
    .faq-section{
        padding: 40px;
    }
}

@media  screen and (max-width: 1280px) {
    .faq-wrapper{
        flex-direction: column;
    }

    .faq-left-section,
    .faq-right-section{
        width: 100%;
    }
}

@media  screen and (max-width: 770px) {
   .faq-box-heading{
    font-size: 16px;
   }

   .box-wrap{
    gap: 15px;
   }
}