.site-home {
    position: relative;
    z-index: -1; 
    background: url('./download.png');
    background-size: cover;
    min-height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
}


.text-box-section{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 30px;
    margin-left: 10em;
    border-radius: 20px;
    color: #ffffff;
    max-width: 500px;
}

.subheading{
    width: 50%;
    font-size: 16px;
    margin: 0 !important;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-heading{
    font-size: 48px;
    font-weight: 500;
}

.text-box-paragraph{
    font-size: 16px;
}

.home-button{
    margin-top: 50px;
}

.home-btn{
    padding: 10px 24px;
    background-color: #ffffff;
    color: #132016;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

@media screen and (max-width: 840px){
    .text-box-section{
        width: 100%;
        background-color: transparent;
        backdrop-filter: none;
        margin-left: 0;
    }

    .home-heading{
        margin-block: 20px !important;
    }

    .text-box-paragraph{
        margin-block: 20px !important;
    }

    .home-button{
        margin-block: 20px !important;
    }
}

@media screen and (max-width: 540px){
    .home-heading{
        font-size: 30px;
    }

    .text-box-paragraph{
        max-width: 90%;
    }

    .subheading{
        font-size: 14px;
        max-width: 90%;
    }
}