.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-top: 15px;
    z-index: 1; 
}


.header-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}


.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}