.why-us{
    background-color: #eef1ef;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-us-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px !important;
}

.why-us-subheading{
    max-width: 100px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    color: #132016;
    padding: 7px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px !important;
}

.why-us-heading{
    font-size: 40px;
    font-weight: 500;
    color: #132016;
    margin-block: 10px !important;
}

.why-us-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #132016;
    margin-block: 10px !important;
}


.why-us-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.why-us-box{
    height: 240px;
    max-width: 320px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-us-box-icon{
    max-width: 30px;
    background-color: #396042;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-heading{
    font-size: 24px;
    font-weight: 500;
    color: #132016;
    text-align: center;
}

.box-paragraph{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #132016;
}

.why-us-button{
    margin-top: 50px;
}

.why-us-btn{
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    background-color: #395f42;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s;
    cursor: pointer;
}

.why-us-btn:hover{
    background-color: #4d8058;
}

@media screen and (max-width: 1180px){
    .why-us{
        padding: 40px;
    }

    .box-heading{
        font-size: 20px;
    }

    .why-us-box-icon{
        max-width: 25px;
    }

    .why-us-box{
        height: 260px;
    }
}

@media screen and (max-width: 815px){
   .why-us-boxes{
    flex-direction: column;
   }

   .why-us-box{
    max-width: 100%;
   }
}