footer{
    padding: 80px 80px 0 80px;
}


.footer-sections{
    display: flex;
    justify-content: space-around;
    align-items: start;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.footer-heading{
    font-size: 16px;
    font-weight: 500;
    color: #132016;
}

.footer-section ul{
    list-style-type: none;
    padding-left: 0 !important;
}

.footer-section li{
    font-size: 16px;
    color: #132016;
    font-weight: 400;
    padding-block: 7px;
    cursor: pointer;
    transition: all .3s;
}

.footer-section li:hover{
    color: rgba(19, 32, 22, .6);
}

.input-email{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.footer-button{
    margin-top: 10px;
}

.footer-btn{
    width: 100%;
    padding: 10px 15px;
    background-color: #396042;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.footer-btn:hover{
    background-color: #4d8058;
}

.copyright{
    font-size: 14px;
    font-weight: 400;
    color: #132016;
    text-align: center;
}

@media screen and (max-width: 1080px){
    footer{
        padding: 40px 40px 0 40px;
    }
}

@media screen and (max-width: 810px){
    .footer-sections{
        flex-direction: column;
    }

    .footer-section{
        width: 100%;
    }

    .input-email{
        width: 100%;
    }
}