.contact-section{
    padding: 80px;
    background-color: #132016;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section-subheading{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px 15px;
    border-radius: 50px;
    max-width: 100px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-heading{
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    margin-block: 0 !important;
}

.contact-section-paragraph{
    color: #cccccc;
    font-size: 16px;
}

.contact-section-button{
    margin-block: 25px;
}

.contact-section-btn{
    background-color: #395f42;
    padding: 15px 24px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: all .3s;
    cursor: pointer;
}

.contact-section-btn:hover{
    background-color: #4d8058;
}

.contact-section-link{
    display: flex;
    align-items: center;
    gap: 7px;
    color: #ffffff;
    text-decoration: none;
}